<div class="container">
  <mat-card class="mat-elevation-z10 usercard">
    <section>
      <p class="title">
        Informe seu usuário* Last.fm e um período para gerar seus 12 albuns mais ouvidos!
      </p>
      <p class="small-text">*Caso não possua um usuário, utilize o default </p>
      <form [formGroup]="input">
        <mat-form-field appearance="outline" class="input">
          <mat-label>Insira seu usuário last.fm</mat-label>
          <input matInput type="text" formControlName="username">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Período</mat-label>
          <mat-select  formControlName="period">
            <mat-option  *ngFor="let periodo of periods" [value]="periodo.data">{{periodo.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button aria-label="Ir" (click)="getAlbuns()">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </form>
    </section>
  </mat-card>

  <section class="container">
    <div class="row">
      <div *ngFor="let album of albuns">
        <div class="col-md-12 total">
          <p class="albumName">{{album.name}}</p>
          <p class="plays">{{album.playcount}} reproduções </p>
          <mat-accordion class="align-content-around">
            <mat-expansion-panel hideToggle (click)="getArtists(album.artist.name)">
              <mat-expansion-panel-header class="artistName">
                <mat-panel-title>
                  <span >{{album.artist.name}}</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="artistBio">{{this.artistBio}} </p>
            </mat-expansion-panel>
          </mat-accordion>
          <img src="{{album.image[3]['#text']}}" class="img-fluid" style="align-content: center">
          <mat-divider class="divider"></mat-divider>
        </div>
      </div>
    </div>
  </section>
</div>




