.cont {
    margin-top: 36px;
    justify-content: center;
    align-items: center
}

.usercard {
  background: linear-gradient(180deg, rgba(166, 3, 3, 0.3) 0%, rgba(13, 13, 13, 0) 100%);
  z-index: 10;
  margin-bottom: 32px;
  margin-top: 16px;
}

.title {
margin-right: 15px;
margin-top: 22px;
font-weight: 100;
font-size: large;
color: #bcbcbc;
}

.input {
width: 92%;
}

.text {
color: #bcbcbc
}

.button {
margin-left: 8px;
background-color: #F20505
}

.cards {
  margin-bottom: 8px;
  margin-right: 10px;
  z-index: 10;
  /*background: linear-gradient(180deg, rgba(166, 3, 3, 0.1) 0%, rgba(13, 13, 13, 0) 50%);*/
  -ms-filter:blur(4px);
  background:rgba(0,0,0,0.5);
  /* filter:blur(4px);
   */
}

.artistName{
  font-weight: 200;
  font-size: medium;
  color: #e0dbf4;
}

mat-card {
  /*background:black;*/
  /*background:rgba(0,0,0,0.8);*/
  /*filter:blur(4px);*/
  /*-o-filter:blur(4px);*/
  /*-ms-filter:blur(4px);*/
  /*-moz-filter:blur(4px);*/
  /*-webkit-filter:blur(4px);*/
}

.albuns {
  /*background:black;*/
  /*background:rgba(0,0,0,0.8);*/
  /*filter:blur(4px);*/
  /*-o-filter:blur(4px);*/
  /*-ms-filter:blur(4px);*/
  /*-moz-filter:blur(4px);*/
  /*-webkit-filter:blur(4px);*/
}
.mat-form-field-empty .mat-form-field-label {
color: green !important;
}
/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
color: #a60303 !important;
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
background-color: #a60303 !important;
}

/*



/*
margin-top: 300px;

*/
