<div  class="container">
    <mat-card class="mat-elevation-z10 usercard">
      <div>
        <p class="title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur gravida ex ac est luctus, vel malesuada elit condimentum. Phasellus sem lorem,
        </p>
        <form [formGroup]="input">
          <mat-form-field appearance="outline" class="input" >
            <mat-label>Insira seu usuário last.fm</mat-label>
            <input matInput type="text" formControlName="user">
          </mat-form-field>
          <button class="button" mat-mini-fab (click)="getUser()">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </form>
      </div>
    </mat-card>
    <div class="container">
      <div class="row">
        <div *ngFor="let album of albuns">
          <mat-card class="cards">
          <div class="col-md">
            <p class="artistName">{{album.artist.name}}</p>
            <img src="{{album.image[2]['#text']}}" class="img-fluid">
            <p class="title">{{album.name}}</p>
          </div>
          </mat-card>
        </div>
      </div>
    </div>


</div>




