<p>albuns works!</p>
<form class="container">
    <mat-card class="card" mat-elevation-z8>
      <!--<p class="text">-->
        <!--Insira seu usuário e veja seus albuns mais ouvidos no last.fm-->
      <!--</p>-->

      <!--<div>-->
        <!--<mat-form-field class="input">-->
          <!--<mat-label>User</mat-label>-->
          <!--<input matInput type="text">-->
        <!--</mat-form-field>-->
        <!--<button class="button" mat-mini-fab >-->
          <!--<mat-icon>play_arrow</mat-icon>-->
        <!--</button>-->
      <!--</div>-->
    <!--</mat-card>-->

  <div >
      <p>{{this.alb.topalbums.album[i].artist.name}}</p>
  </div>
    <mat-card>

      <!--<p>{{a.topalbums.album[2].artist.name}}</p>-->
      <!--<p>{{a.topalbums.album[2].image[2].size}}</p>-->
      <!--<ul>-->
        <!--<li >-->
            <!--{{this.albuns.artist.name }}-->
        <!--</li>-->
        <!--<li>-->
            <!--{{this.albuns.artist.image[0].size}}-->
        <!--</li>-->
      <!--</ul>-->
      <!--<p>-->
        <!--{{this.albuns.artist.bio.content}}-->
      <!--</p>-->

    </mat-card>
  </form>
